<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="io.duotech.tests.OrderTests"/>
      <class name="io.duotech.tests.LoginTest"/>
      <class name="io.duotech.tests.AllOrdersTests"/>
      <class name="io.duotech.tests.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
